main div{
    display: flex;
    justify-content: center;
}

table {
    border: 2px solid rgba(113, 126, 148, 0.614);
    border-collapse: collapse;
    color: black;
}

thead, tfoot{
    border-top: 2px solid rgba(113, 126, 148, 0.614);
    border-bottom: 2px solid rgba(113, 126, 148, 0.614);
    background-color: rgba(9, 21, 41, 0.792);
    color: white;
}

th, td {
    padding: 5px 15px;
}

tbody {
    background-color: rgb(181, 181, 181);
}
