@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    background-color: #1A1D29;
    color: rgb(176, 179, 179);
}

.pagina_atual {
    text-decoration: underline;
}

header {
    font-size: 1em;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0.5rem 10%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.menu {
    display: none;
}

header a:hover {
    cursor: pointer;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

main h2 {
    font-family: "Cinzel", serif;
    font-size: 150%;
}

main video {
    width: 100%;
}

main p::selection {
    background-color: white;
    color: #6674b4;
}

#castelo {
    width: 100%;
    margin-bottom: 4%;
    border-radius: 2%;
    box-shadow: 0 7px 20px black;
    display: none;
}

#irmaos {
    margin-right: 10%;
    margin-bottom: 2.5%;
    margin-top: 4%;
    width: 60rem;
}

#primeiros-anos {
    width: 22rem;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#filmes {
    width: 30rem;
    margin-right: 7%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.section-images {
    display: flex;
    align-items: center;
}

.img {
    border-radius: 5%;
    box-shadow: 0 7px 20px black;
}

.img:hover {
    transform: scale(1.1);
    border: 2px solid white;
}

.voltar-topo {
    background-color: rgb(205, 204, 204);
    padding: 0.5% 0.5%;
    border-radius: 15%;
    position: fixed;
    bottom: 1%;
    right: 0.5%;
}

footer {
    background-color: black;
    padding-top: 2%;
    margin-top: 10%;
}

footer img {
    margin-left: 45%;
}

footer p {
    font-size: 60%;
    display: flex;
    justify-content: center;
}

main a:link {
    color: rgb(40, 70, 108);
}

main a:visited {
    color: white;
}

main #parques {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#parques img {
    margin-bottom: 3em;
}

#referencia span {
    font-weight: bold;
    color: white;
    display: inline-block;
}

@media (max-width:1000px) {
    #section-filmes {
        flex-direction: column;
        align-items: center;
    }

    #filmes {
        order: 2;
        margin-right: 0;
    }
}

@media (max-width:900px) {
    .section-images {
        flex-direction: column;
        align-items: center;
    }

    #irmaos {
        width: 20em;
        order: 2;
        margin-right: 0;
    }

    #primeiros-anos {
        margin-left: 0;
    }
    
    .menu{
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1em;
        margin-top: 0.5em;
    }

    .nav-list{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding-inline-start: 0;
        background-color: #1A1D29;
    }

    .nav-list.active{
        display: flex;
    }


}

@media (max-width:600px) {
    #irmaos {
        width: 60%;
    }

    #primeiros-anos {
        width: 60%;
    }

    #filmes {
        width: 70%;
    }

    #parques img {
        width: 60%;
    }
}